---
layout: archive
title: "Projects 2019"
permalink: /projects2019/
author_profile: true
---

{% include base_path %}

<h2>List</h2>

{% comment %} box &#x2610; checked-box &#x2611; crossed-box &#x2612;<br/> {% endcomment %}

<h3>Meta</h3>
<ol start="0">
  <li>&#x2610; create a list of 30-40 items</li>
</ol>

<h3>Photography</h3>
<ol start="1">
  <li>&#x2610; take photo; do post-production edits; enter into Elgin Area Camera Club competition</li>
  <li>&#x2610; take "interesting" timelapse w/ arsenal device</li>
</ol>

<h3>Geocaching</h3>
<ol start="3">
  <li>&#x2610; build and deploy new cache</li>
</ol>

<h3>Software</h3>
<ol start="4">
  <li>&#x2610; clean up and flesh out <u><a href="https://nusense.github.io">this site</a></u></li>
  <li>&#x2610; really, really learn how to use <tt>git</tt></li>
  <li>&#x2610; update Influx DB and Grafana display for deployed multisensor boxes</li>
  <li>&#x2610; setup to send SMS text if/when sump pumps are in "alarm"</li>
</ol>

<h3>Instruction/Teaching</h3>
<ol start="8">
  <li>&#x2610; write up and publish first Instructable (headphone rack?)</li>
  <li>&#x2610; prepare / give talk on "something" to one of: Fox.Build, Nerd Nite, FVCP</li>
</ol>

<h3>To Build</h3>
<ol start="10">
  <li>&#x2610; convert "playtable" into light table for Marina's glass work</li>
  <li>&#x2610; revise and build new-improved headphone rack / anti-sneak device</li>
  <li>&#x2610; automated dice tower for "software failure" dice</li>
  <li>&#x2610; lighting for home desk area</li>
  <li>&#x2610; platform to get cat bed off my desk, but still see out window</li>
  <li>&#x2610; lighting for dining room (from glass disc lamps?)</li>
  <li>&#x2610; display to show off hooked rug</li>
  <li>&#x2610; multisensor boxes (temp; movement; ambient light; co2)</li>
  <li>&#x2610; 2019 Xmas ornaments for family </li>
  <li>&#x2610; standing desk shelf setup for office</li>
  <li>&#x2610; storage system for my "stuff" (electronics, other items) at home</li>
  <li>&#x2610; system to display framed photos at work (but no permanent attachment to cement wall)</li>
  <li>&#x2610; project whiteboard for home desk area</li>
  <li>&#x2610; new try at cupboard cabinet lazy-susan turntables</li>
  <li>&#x2610; improved kitchen cupboard cabinet shelf supports</li>
  <li>&#x2610; make Chris a bed platform to raise matress up</li>
  <li>&#x2610; replace stereo table w/ tool chest near back door</li>
  <li>&#x2610; rework rack on back of bike to be flat</li>
  <li>&#x2610; bike organizer rack for garage</li>
  <li>&#x2610; garage shelving</li>
  <li>&#x2610; fix garage door opener (stripped drive gear)</li>
  <li>&#x2610; remote interface to garage door opener (MQTT?)</li>
  <li>&#x2610; lighting for stairs down to basement</li>
  <li>&#x2610; attic fan system w/ auto temp on/off (+MQTT?)</li>
  <li>&#x2610; rain collection system to keep under deck area dry</li>
</ol>

<hr>

<h2>Detailed Individual Items</h2>

{% for post in site.projects2019 %}
  {% include archive-single.html %}
{% endfor %}

